 {deps,
 [
  {lhttpc, ".*",
   {git, "git://github.com/ferd/lhttpc.git",
    "master"}},

  {jiffy, "",
   {git, "git://github.com/davisp/jiffy.git",
    {branch, "master"}}}
 ]}.

%% XRef checks to run.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls
              ]}.
{xref_lib_path, app_file}.

%% can't be a deps and only for testing.
{xref_extra_applications, [erts]}.
